name: Generate PDF

on: push

jobs:
  convert_via_pandoc:
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Tokyo
    steps:
      - name: Initialize
        run: apt install -y pandoc wkhtmltopdf fonts-ipafont fonts-ipaexfont fc-cache -fv
      - name: Make output directory
        run: mkdir output
      - name: Export pdf from docs/README.md
        run: pandoc docs/README.md -s -o output/job_description.pdf
