name: Generate PDF

on: push

jobs:
  converttopdf:
    name: Build PDF
    runs-on: ubuntu-latest
    env:
      artifactPath: output
    steps:
      - uses: actions/checkout@v2
      - name: Gennerate PDF
        uses: baileyjm02/markdown-to-pdf@v1
        with:
          input_dir: docs
          output_dir: ${{ env.artifactPath }}
          # images_dir: img
          # for example <img src="./images/file-name.png">
          # image_import: ./img
          # Default is true, can set to false to only get PDF files
          highlight_theme: styles/markdown-theme.css
          build_html: false
      - name: Upload files
        uses: actions/upload-artifact@v3
        with:
          name: pdf
          path: ${{ env.artifactPath }}
